html, body {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}
body{
  position: relative;
}
h3{
  text-align: center;
  padding: 7%;

}
p{
  font-family:sans-serif;
  font-size: small;
  padding-left: 15%;
  padding-right: 15%;
  vertical-align: middle;
}
.pagewrapper{
  min-height: 100%;
  position: relative;
}
.logo{
  max-height: 300px;
  max-width: auto;
}
.mascot {
  padding-left: 80px;
  padding-bottom: 80px;
}
.nav-buttons{
  text-align: center;
}
.menu{
  padding-top: 75px;
}
.btn{
  padding: 0;
  border: none;
  background: none;
}
.no-gutter{
  padding-left:0;
  padding-right:0;
}
.page-content{
  padding-bottom:80px;
}
.footer{
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  text-align: center;
  position: fixed;
  z-index: 99;
}
.footbar{
  padding-top: 15px;
}
.whitebg{
  position: relative;
  min-height: 100%;
}
.navbar {
  padding-bottom: 80px;
}
#mainmenu, .backtomain, #nav, #mascot {
}
#bg{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
